<!DOCTYPE html>
<head>
  <link href="images/logo.png" rel="shortcut icon" />
  <title>La Salle Eats | Gang Gang Chicken</title>
  <link href="bootstrap.min.css" rel="stylesheet">
  <link href="nav.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

  <script src = "loginscript.js"></script>
  <!--FOR SIDE NAV-->

  <div class = "sideNav"id = "sideNav">
    <div id = "loginHeader">
        
        <div id = "nav_Exit" onclick="closeNav()" style="font-weight: bold;" class = "fa fa-close">
        </div>
    </div><br>

        <center>
    <div class="wrapper">
        <div class = "form_box_login">
            <form action ="/ganglogin" method="post">
                <div>
                    <h2 style="font-size: 1.5em;"><br>Login</h2>
                </div>
                <div class = "exit"><box-icon type='solid' name='x-circle'></box-icon>
                <!-- FOR USERNAME -->
                <div class = "input_box">
                    <label>Username</label><br>
                    <input type = "text" name = "username" placeholder="Username">
                </div><br>

                <!-- FOR PASSWORD -->
                <div class = "input_box">
                    <label>Password </label><br>
                    <input type = "password" name = "password" placeholder="Password">
                    
                </div><br>

                 <input type="checkbox" name="rememberMe">Remember Me
                        <br><br>
                
                <!-- Log In Button-->
                <div>
                    <input type ="submit" value = "Log in">
                </div><br>
                
                <!-- FORGOT PASSWORD-->
                <div class = "form-link">
                    <a href = "#" class = "link" id = "forgot_pass" style="color: black;">Forgot password</a>
                </div><br>
                

                <!-- Register an Account -->
                <span>
                    Don't have an account? <a href = "#" class = "link" id = "register_link" style="color: black;">Sign up now </a>
                </span>
            </form>
        </div><br>
        <div class="line">


        </div>
        <div>
            <p>Or log in with<p>
        </div>
        
        <div class = "media_options">
            <a href="#" class = "facebook_btn">
            <img class = "facebook" src ="images/facebook.png" width = "50px">
            </a>
            <a href="#" class = "google_btn">
                <img class = "google" src ="images/google.png" width = "50px">
            </a><br>
        </div><br>
    </div>

</center>



<center>
    <div class="wrapper_reg">
        <div class = "form_box_signup">
            <form action ="/gangsignup" method="post">
                <div>
                    <h2 style="font-family: 'Lora', serif; font-size: 1.5em;"><br>Register</h2>
                </div>
                <!-- FOR USERNAME -->
                <div class = "input_box">
                    <label>Username</label><br>
                    <input type = "text" name = "username" placeholder="Username">
                </div><br>

                <!-- FOR PASSWORD -->
                <div class = "input_box">
                    <label>Password </label><br>
                    <input type = "password" name = "password" placeholder="Password">
                    
                </div><br>
                <div class = "input_box">
                    <label>Re-enter Password </label><br>
                    <input type = "password" name = "re_password" placeholder="Re-enter Password">
                    
                </div><br>
                
                <!-- Sign Up Button-->
                <div>
                    <input type ="submit" value = "Sign up"><br>
                </div><br>
                

                <!-- Already Have an Account -->
                <span>
                    Already have an account? <a href = "#" class = "link" id = "register_link" style="color: black;">Login</a>
                </span>
            </form>
        </div><br>
        <div class="line">


        </div>
        <div>
            <p>Or log in with<p>
        </div>
        
        <div class = "media_options">
            <a href="#" class = "facebook_btn">
            <img class = "facebook" src ="images/facebook.png" width = "50px">
            </a>
            <a href="#" class = "google_btn">
                <img class = "google" src ="images/google.png" width = "50px">
            </a><br>
        </div><br>
    </div>
    

</center>

</div>



<header class="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm py-3">
        <div class="container">
            <img src = "images/logo.png" width = 50px height = 50px/>
            <form action="" id="searchbar" style="margin-top: 15px; margin-left: 40px; border: #2F3B1C solid 2px;">
                <input type="text" placeholder="Search...">
                <button type="submit"><img src="./images/searchicon.png"></button>
            </form>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="home.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="restolist.html">Restaurants</a>
                    </li>
                    <li class="nav-item" onclick="openNav()">
                      {{#if user}}
                                <li clas="nav-item">
							        <a class="nav-link" href="/ganglogout">Sign Out</a>
						        </li>
                                <a href="User">
						            <img src="images/defaulticon.png" class="icon" style="a:hover { border-radius: #2F3B1C solid 4px;}">
						        </a>
                            {{else}}
                                <p class="nav-link" href="" onclick="openNav()" style="cursor: pointer;">Login</p>
                            {{/if}}
                  </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<div style="z-index: 2; background-color: white;">
<div class="header pb-8 pt-lg-8 " style="min-height: 300px; background-image: url(images/store/GangGangP1.jpg); background-size: cover; background-position: center top;">
</div>
<section class="py-5 header">
    <div class="col-lg-9 mx-auto">
          <div class="card-body shadow-sm p-5">
            <nav ="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="home.html" class="text-uppercase" style = "color:seagreen;">Home</a></li>
                <li class="breadcrumb-item"><a href="restolist.html" class="text-uppercase" style = "color:seagreen;">Restaurants</a></li>
                <li class="breadcrumb-item active text-uppercase">Gang Gang Chicken</li>
              </ol>
            </nav>
            <h5 class="text-muted">Gang Gang Chicken </h5>
            <p class="font-italic text-muted">Hello, Gang! Craving the beloved fried chicken in its boneless form? Gather the gang now and get your boneless chicken fix from Gang Gang Chicken!</p>
          </div>
    </div>
    <div class="container py-4">

        <div class="row">
            <div class="col-md-3">
                <div class="nav flex-column pilled" role="tablist" >
                    <a class="nav-link mb-3 p-3 shadow active" id="tab-home" data-toggle="pill" href="#menu" role="tab">
                        <span class="font-weight-bold small text-uppercase">Menu</span></a>

                    <a class="nav-link mb-3 p-3 shadow" data-toggle="pill" href="#photos" role="tab"> 
                        <span class="font-weight-bold small text-uppercase">Photos</span></a>

                    <a class="nav-link mb-3 p-3 shadow" data-toggle="pill" href="#loc" role="tab" >
                        <span class="font-weight-bold small text-uppercase">Location</span></a>
						
                    <a class="nav-link mb-3 p-3 shadow" data-toggle="pill" href="#contact" role="tab">
                        <span class="font-weight-bold small text-uppercase">Contact Details</span></a>
                    </div>
            </div>


            <div class="col-md-9">
                <div class="tab-content" id="content">
                    <div class="tab-pane fade shadow rounded bg-white show active p-5" id="menu" role="tabpanel" >
                        <h4 class="font-italic mb-4">Menu</h4>
                        <p class="font-italic text-muted mb-2 cont">
                            <img class="modalimg" id="menumod" src="images/store/GangGangMenu.png" width=100% />
                            <div id="idmodal" class="modal">
                              <img class="modal-content" id="img01">
                              <span class="close">&times;</span>
                            </div>
                        </p>
                    </div>
                    
                    <div class="tab-pane fade shadow rounded bg-white p-5" id="photos" role="tabpanel" >
                        <h4 class="font-italic mb-4">Photos</h4>
                        <p class="font-italic text-muted mb-2">

                            <div id="demo" class="carousel slide" data-ride="carousel">
                              <ul class="carousel-indicators">
                                <li data-target="#demo" data-slide-to="0" class="active"></li>
                                <li data-target="#demo" data-slide-to="1"></li>
                                <li data-target="#demo" data-slide-to="2"></li>
                              </ul>

                              <div class="carousel-inner">
                                <div class="carousel-item active">
                                  <img src="images/store/GangGangP1.jpg" class="carousel-photo">
                                </div>
                                <div class="carousel-item">
                                  <img src="images/store/GangGangP2.png" class="carousel-photo">
                                </div>
                                <div class="carousel-item">
                                  <img src="images/store/GangGangP3.png" class="carousel-photo">
                                </div>
                                <div class="carousel-item">
                                  <img src="images/store/GangGangP4.png" class="carousel-photo">
                                </div>
                              </div>

                              <a class="carousel-control-prev" href="#demo" data-slide="prev">
                                <span class="fa fa-chevron-left"></span>
                              </a>
                              <a class="carousel-control-next" href="#demo" data-slide="next">
                                <span class="fa fa-chevron-right"></span>
                              </a>

                            </div>
                        </p>
                    </div>
                    
                    <div class="tab-pane fade shadow rounded bg-white p-5" id="loc" role="tabpanel" >
                        <h4 class="font-italic mb-4">Location</h4>
                        <p class="font-italic text-muted mb-2">
                            <b>Opening Hours</b>: 10AM - 9PM <br>
                            <b>Address</b>: One Archers Place Taft, Manila, Metro Manila <br>
                        </p>
                    </div>
					
                    <div class="tab-pane fade shadow rounded bg-white p-5" id="contact" role="tabpanel" >
                        <h4 class="font-italic mb-4">Contact Details</h4>
                        <p class="font-italic text-muted mb-2">
                            <b>Mobile Number</b>: (+63) 977 032 2883 <br>
                            <b>Website</b>: <a href = "https://ganggangchicken.com/" style = "color:seagreen;"> https://ganggangchicken.com/ </a><br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="comment-thread card-body shadow-sm p-5 col-lg-9 mx-auto" style="margin-top: 10%;">
        <div class="card">
          <div class="card-body">
            <h4 class="font-italic mb-4">Post a Review</h4>
			
          </div>
		  
          <div class="card-footer py-3 border-0" style="background-color: #f8f9fa;">
            <div class="d-flex flex-start w-100">
              <img class="rounded-circle shadow-1-strong me-3" src="images/lsleats.png" alt=" " width="35" height="35" />
              <div class="form-outline w-100" style="margin-left:10px;">
                
				{{#if user}}
			<form id="submission" action="/gangsubmit_comment" method="post">
                <textarea class="form-control" id="textAreaExample" name="comment" rows="4" style="background: #fff;" placeholder="Reply here..."></textarea>
                <input type="file" id="myImage" name="myImage" accept="image/png, image/gif, image/jpeg" style="margin-bottom: 10px; margin-top: 10px;">
                <br>

                <span class="float-end mt-2 pt-1">
                    <button type="submit" class="btn btn-primary btn-sm">Post comment</button>
                    <button type="button" class="btn btn-outline-primary btn-sm" onclick="cancel()">Cancel</button>
                </span>
            </form>
            {{else}}
            {{/if}}
				
			  </div>
            </div>
           
		   
			<br>
			<h5 class="font-italic mb-4">Reviews</h5>

            
			<div class = "user_post">
				
				<img class="rounded-circle shadow-1-strong me-3" src="images/UserProfile/user01icon.jpg" width = 50 height = 50>
				<div style = "margin-left: 10px ;">
					<a href = "user.html"><h6 class="fw-bold mb-1 me-3" style = "color: seagreen;">Sabrina Carpenter</h6></a>
					<p class="text-muted small mb-0"> 1/5
						<span class="fa fa-star" style = "color: orange;"></span>
						<span class="fa fa-star" ></span>
						<span class="fa fa-star" ></span>
						<span class="fa fa-star" ></span>
						<span class="fa fa-star"></span>
					</p>
													
					<p class="mt-3 mb-4 pb-2">
						I prefer 24 chicken over this. Compared to Bok chicken and 24 chicken, theirs is so small! 🥹 
					</p>

					<div class="small d-flex justify-content-start">
						<a href="#!" class="d-flex align-items-center me-3">
						<p class="mb-0 d-flex align-items-center me-3" style = "color: black;"> Helpful? </p></a>
						<button class = "btn"><i class="fa fa-thumbs-up"></i> 70</button>
						<button class = "btn"><i class="fa fa-thumbs-up fa-rotate-180"></i> 22</button>
					</div>
				</div>
			</div>
						
            <br><div class = "user_post">
				
				<img class="rounded-circle shadow-1-strong me-3" src="images/UserProfile/jennifer.jpg" width = 50 height = 50>
				<div style = "margin-left: 10px ;">
					<a href = "jennifer.html"><h6 class="fw-bold mb-1 me-3" style = "color: seagreen;">Jennifer Huh</h6></a>
					<p class="text-muted small mb-0"> 5/5
						<span class="fa fa-star" style = "color: orange;"></span>
                        <span class="fa fa-star" style = "color: orange;"></span>
                        <span class="fa fa-star" style = "color: orange;"></span>
                        <span class="fa fa-star" style = "color: orange;"></span>
                        <span class="fa fa-star" style = "color: orange;"></span>

					</p>
													
					<p class="mt-3 mb-4 pb-2">
						I love it! It’s cheaper but better!
					</p>

					<div class="small d-flex justify-content-start">
						<a href="#!" class="d-flex align-items-center me-3">
						<p class="mb-0 d-flex align-items-center me-3" style = "color: black;"> Helpful? </p></a>
						<button class = "btn"><i class="fa fa-thumbs-up"></i> 70</button>
						<button class = "btn"><i class="fa fa-thumbs-up fa-rotate-180"></i> 22</button>
					</div>
				</div>
			</div>
      <br><div class = "user_post">
				
				<img class="rounded-circle shadow-1-strong me-3" src="images/UserProfile/sunghoonpark.jpg" width = 50 height = 50>
				<div style = "margin-left: 10px ;">
					<a href = "sunghoon.html"><h6 class="fw-bold mb-1 me-3" style = "color: seagreen;">Sunghoon Park</h6></a>
					<p class="text-muted small mb-0"> 5/5
						<span class="fa fa-star" style = "color: orange;"></span>
						<span class="fa fa-star" style = "color: orange;"></span>
						<span class="fa fa-star" style = "color: orange;"></span>
						<span class="fa fa-star" style = "color: orange;"></span>
						<span class="fa fa-star" style = "color: orange;"></span>
					</p>
													
					<p class="mt-3 mb-4 pb-2">
						I like it. Has many flavors!
					</p>

					<div class="small d-flex justify-content-start">
						<a href="#!" class="d-flex align-items-center me-3">
						<p class="mb-0 d-flex align-items-center me-3" style = "color: black;"> Helpful? </p></a>
						<button class = "btn"><i class="fa fa-thumbs-up"></i> 57</button>
						<button class = "btn"><i class="fa fa-thumbs-up fa-rotate-180"></i> 12</button>
					</div>
				</div>
			</div>
			<br>
				
    
        <div class = "user_post">
				
				<img class="rounded-circle shadow-1-strong me-3" src="images/UserProfile/jakesim.jpg" width = 50 height = 50>
				<div style = "margin-left: 10px ;">
					<a href = "jake.html"><h6 class="fw-bold mb-1 me-3" style = "color: seagreen;">Jake Sim</h6></a>
					<p class="text-muted small mb-0"> 4/5
						<span class="fa fa-star" style = "color: orange;"></span>
						<span class="fa fa-star" style = "color: orange;"></span>
						<span class="fa fa-star" style = "color: orange;"></span>
						<span class="fa fa-star" style = "color: orange;"></span>
						<span class="fa fa-star" ></span>
					</p>
													
					<p class="mt-3 mb-4 pb-2">
                       I expected more based on the price.
					</p>

					<div class="small d-flex justify-content-start">
						<a href="#!" class="d-flex align-items-center me-3">
						<p class="mb-0 d-flex align-items-center me-3" style = "color: black;"> Helpful? </p></a>
						<button class = "btn"><i class="fa fa-thumbs-up"></i> 75</button>
						<button class = "btn"><i class="fa fa-thumbs-up fa-rotate-180"></i> 12</button>
					</div>
				</div>
			</div>
			<br>
			<div class = "user_post">
				
				<img class="rounded-circle shadow-1-strong me-3" src="./images/defaulticon.png" width = 50 height = 50>
				<div style = "margin-left: 10px ;">
					<a href = "User"><h6 class="fw-bold mb-1 me-3" style = "color: seagreen;">{{user}}</h6></a>
					<p class="text-muted small mb-0"> 4/5
						<span class="fa fa-star" style = "color: orange;"></span>
						<span class="fa fa-star" style = "color: orange;"></span>
						<span class="fa fa-star" style = "color: orange;"></span>
						<span class="fa fa-star" style = "color: orange;"></span>
						<span class="fa fa-star"></span>
					</p>
													
					<p class="mt-3 mb-4 pb-2">
						{{comment}} 
					</p>

					<div class="small d-flex justify-content-start">
						<a href="#!" class="d-flex align-items-center me-3">
						<p class="mb-0 d-flex align-items-center me-3" style = "color: black;"> Helpful? </p></a>
						<button class = "btn"><i class="fa fa-thumbs-up"></i> 70</button>
						<button class = "btn"><i class="fa fa-thumbs-up fa-rotate-180"></i> 3</button>
					</div>
				</div>
			</div>
								
			</div>
          </div>
        </div>
	</div>
  </section>
</div>
<script src="jquery.min.js"></script>
<script src="bootstrap.bundle.min.js"></script>
<script src="nav.js"></script>

</body>


